<div class="container">
  <div class="row">
    <div class="mt-3">
      <!-- <h3>
        <appHighlighter color="purple">
          This is an attribute directive as element
        </appHighlighter>
      </h3> -->

      <h3 appHighlighter [color]="'green'">This is an attribute directive</h3>

      <h3 [appHighlighterRenderer]="'purple'">This is an attribute directive with renderer used</h3>

      <div class="mt-3">
        <button class="btn btn-outline-warning" (click)="canShow = !canShow">Show/Hide</button>
      </div>

      <div class="mt-3">
        <p *ngIf="canShow">This is ngIf structural directive</p>

        <ng-template [ngIf]="canShow">
          <p>This is ngIf structural directive in expanded format</p>
        </ng-template>

        <p *ngIf2="canShow">This is ngIf2 custom structural directive</p>

        <h4>Template</h4>

        <app-template></app-template>
      </div>
    </div>
  </div>
</div>
